{:paths   ["resources"
           "src/cljc"]
 :deps    {metosin/reitit                      {:mvn/version "0.5.6"}
           ring/ring-jetty-adapter             {:mvn/version "1.7.1"}
           cprop                               {:mvn/version "0.1.17"}
           mount                               {:mvn/version "0.1.16"}
           buddy/buddy-sign                    {:mvn/version "3.3.0"}
           buddy/buddy-auth                    {:mvn/version "2.2.0"
                                                :exclusions  [buddy/buddy-core]}
           clj-http                            {:mvn/version "3.12.0"}
           clj-xlsx                            {:git/url "https://github.com/thuanthe81/clj-xlsx.git"
                                                :sha     "cbbafd6abe71e1d1da714701b973c3c156f87d58"}

           ;; For clojurescript only
           thheller/shadow-cljs                {:mvn/version "2.11.3"}
           com.fulcrologic/fulcro              {:mvn/version "3.4.4"}
           com.fulcrologic/fulcro-garden-css   {:mvn/version "3.0.8"}
           com.fulcrologic/semantic-ui-wrapper {:mvn/version "1.0.1"}
           com.fulcrologic/guardrails          {:mvn/version "0.0.12"}
           garden/garden                       {:mvn/version "1.3.9"}
           hiccup/hiccup                       {:mvn/version "1.0.5"}
           fulcrologic/fulcro-spec             {:mvn/version "3.1.8"}
           }
 :aliases {:server   {:extra-paths ["src/clj"]
                      :main-opts   ["-m" "app.core"]}
           :dev      {:extra-paths ["dev"]}
           :frontend {:extra-paths ["src/cljs"]}
           :test     {:extra-paths ["src/clj" "src/cljs"
                                    "test/clj" "test/cljs"]
                      :extra-deps  {org.clojure/test.check      {:mvn/version "1.0.0"}
                                    org.clojure/tools.namespace {:mvn/version "1.1.0"}
                                    com.cognitect/test-runner   {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                 :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                      :main-opts   ["-m" "cognitect.test-runner"
                                    "-d" "test/clj"
                                    "-n" "app.aa"           ;; Start server
                                    "-n" "app.test" "-n" "app.handler.test" "-n" "app.api.test"
                                    "-n" "app.zz"           ;; Stop server
                                    ]}}}
